In [51]:
import pandas as pd
#1
df = pd.read_csv('Downloads/Mall_Customers.csv')
df
#2
df.describe()
#3
modified_df = df.iloc[:, 2:]
mad = (modified_df - modified_df.mean()).abs().mean()
mad
modified_df.var()
modified_df.quantile()
modified_df.skew()
r = modified_df.max() - modified_df.min()
r
#4
bins = [0, 24, 34, 44, 54, 64, 74, 150]
labels = ['18–24', '25–34', '35–44', '45–54', '55–64', '65–74', '75+']
modified_df['Age Group'] = pd.cut(modified_df['Age'], bins=bins, labels=labels, right=True)
modified_df.groupby(by='Age Group', observed=True)['Annual Income (k$)'].agg(['min', 'max'])

           min  max
Age Group
18–24       15   81
25–34       17  137
35–44       18  120
45–54       23  126
55–64       19   93
65–74       19   63